*{
 scroll-behavior: smooth;
}
.bgimage {
	background: url("back.jpg");
	background-size: 100% 100%;
	width:auto;
	height: 660px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
  }
  
li a:hover{
	border-bottom: #f0ad4e 0.1rem solid;

}
.headers{
	box-sizing: border-box;
	padding-top: 220px;
}
.headers h1{
	font-size: 3.5rem;
}
.headers h3{
	font-size: 2.5rem;
}
.headers button{
	border-radius: 1.4rem;
}
.headers button:hover{
	border-color: #f0ad4e;
	border-width: 2px;
}

.our-service{
	padding: 100px 0px 20px;
}
.imagesetting{
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
}
.imageset{
	margin-top: 3.4rem;
}
.slide-wrap a{
	display: none;

}
.our-portfolio{
	width: 100%;
	background-color:white;
	padding: 50px 0px 50px 0px;
	margin-left: 0%;
}
.our-portfolio h1{
	color: black;
	font-size: 3.25rem;
	margin-bottom: 3.5rem;
}
.card{
	margin-top: 1.4rem;
}
.slider-area{
	margin: 0;
	padding: 0;
}
.carousel-item{
	padding: 20px;
	margin-top: 0px;
}
.carousel-item .img-box{
	width: 300px;
	height: 300px;
}
.text-extra{

	font-size: 2rem;
}
.text-ext{
	font-size: 1.3rem;
	color: black;
}
/* .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
} */

.carousel-control-next-icon:after
 {
  content: '↑';
  font-size: 35px;
  color: red;
}

.carousel-control-prev-icon::after {
  content: '↑';
  font-size: 35px;
  color: red;
}
footer{
	background-color: black;
	height: 5rem;
}
footer h5{
	font-size: 1.2rem;
	color: blanchedalmond;
	line-height: 2.5rem;
}

 
@media only screen and (max-width: 600px)
{
	.bgimage {
		background: url("back.jpg");
		background-size: 100% 100%;
		width:auto;
		height: 660px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		position: relative;
	  }
	.our-service{
		padding: 40px 0px 20px;
	}
	.slider {
		width: 250px;
		height: 400px;
		display: inline-block;	
		overflow-x: hidden;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
	  }
	  .slide {
		width: 400px;
		display: inline;
		height: 100%;
	  }
#slide1{
	scroll-snap-align: start;
}
.slide-wrap a{
	display: inline-block;
	border: #f0ad4e 2px solid;
	border-radius: 20%;
	padding: 10px;
	text-decoration: none;
}
.slide-wrap a:hover{
	text-decoration: none;
	color: palevioletred;
	cursor: -webkit-grab; cursor: grab;
}
	  
	.headers h1{
	font-size: 2.5rem;
	}
	.headers h3{
	font-size: 1.5rem;
	}
	.our-portfolio{
		width: 100%;
		background-color:white;
		padding: 30px 0px 10px 0px;
		margin-left: 0%;
	}
	
	.img-area{
		width: 100px;
		height: 100px;
	}
	.img-area img{
		width: 80%;
	}
	.carousel-item .img-box{
		width: 100px;
		height: 100px;
	}
	.text-extra{
	
		font-size: 1.5rem;
	}
	.text-ext{
		font-size: 1rem;
		color: black;
	}
	.carousel-control-next-icon:after
 {
  font-size: 30px;
  align-content: right;
  
}

.carousel-control-prev-icon:after {
  
  font-size: 30px;
  align-content: left;
  
}
	
}

/* ------------------------------------------------------------------------- */

*{
    scroll-behavior: smooth;
}
.navbar {
    position: sticky;
}
li a:hover{
    border-bottom: #f0ad4e 0.02rem solid;
    position: top;
}
.about-section{
    background: url(about1.jpg) no-repeat left;
    background-size: 45%;
    background-color: #fdfbfb;
    overflow: hidden;
    padding: 40px;
    margin-top: 30px;;
    width: 100%;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 50px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
 .skills span a{   
     display: block;   
    text-decoration: none;
}
footer{
	background-color: black;
	height: 5rem;
}
footer h5{
	font-size: 1.2rem;
	color: blanchedalmond;
	line-height: 2.5rem;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        margin-top: 0px;
        padding: 0;
        margin-bottom: 15px;
    }
    .inner-container{
        padding: 60px;
    }
    .skills{
        font-size: 25px;
        flex-direction: column;
    }
    .skills span{
        color:blue;
    }
    .container .pricing-header h1{
        font-size: 30px;
        margin-top: 10px;
    }
}