*{
 scroll-behavior: smooth;
}
.bgimage{
	background-image: url("../image/back.jpg");
	background-size: 100% 100%;
	width:auto;
	height: 660px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
li a:hover{
	border-bottom: #f0ad4e 0.09rem solid;
}
.headers{
	box-sizing: border-box;
	padding-top: 220px;
}
.headers h1{
	font-size: 3.5rem;
}
.headers h3{
	font-size: 2.5rem;
}
.headers button{
	border-radius: 1.4rem;
}
.headers button:hover{
	border-color: #f0ad4e;
	border-width: 2px;
}

.our-service{
	padding: 100px 0px 20px;
}
.imagesetting{
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
}
.imageset{
	margin-top: 3.4rem;
}
.our-portfolio{
	width: 100%;
	background-color:white;
	padding: 50px 0px 50px 0px;
	margin-left: 0%;
}
.our-portfolio h1{
	color: black;
	font-size: 3.25rem;
	margin-bottom: 3.5rem;
}
.card{
	margin-top: 1.4rem;;
}
.ourTeam{
	padding: 50px 0px 20px;
}
footer{
	background-color: black;
	height: 5rem;
}
footer h5{
	font-size: 1.2rem;
	color: blanchedalmond;
	line-height: 2.5rem;
}
 
@media only screen and (max-width: 600px)
{
	.bgimage{
	background-image: url("../image/back.jpg");
	background-size: 100% 100%;
	width:auto;
	height: 550px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	.our-service{
		padding: 40px 0px 20px;
	}
	
	.headers h1{
	font-size: 2.5rem;
	}
	.headers h3{
	font-size: 1.5rem;
	}
	.our-portfolio{
		width: 100%;
		background-color:white;
		padding: 30px 0px 10px 0px;
		margin-left: 0%;
	}
}

